<nav>
        <a href="index.html" class="logo">
            <div class="logo-nav-container">
                <h1 class="main-brand">
                    <span class="mirai">MIRAI </span><span class="hit">HIT</span>
                </h1>
                <div class="brand-subline">
                    <span class="line-deco"></span>
                    <span class="studio">STUDIO</span>
                    <span class="line-deco"></span>
                </div>
            </div>
        </a>
        <div class="nav-menu-wrapper">
            <div class="dropdown">
                <button class="dropbtn">Menu ▾</button>
                <div class="dropdown-content">
                    <h4><a href="index.html">Início</a></h4>
                    <h4><a href="portfolio.html">Portfólio</a></h4>
                    <h4><a href="calculadora.html">Iniciar Projeto</a></h4>
                </div>
            </div>
        </div>
    </nav>